<!-- Add your table of contents here -->
<!-- toc.html -->

{::options toc_levels="2..4" /}

{% assign heading_levels = "##,###,####" | split: ',' %}

{% assign current_level = 2 %}

{% for heading in headings %}
  {% assign level = heading | replace: "<h", "" | split: ">" | first | minus: 1 %}
  {% assign title = heading | replace: "<h#{level + 1}>", "" | replace: "</h#{level + 1}>", "" %}
  
  {% if level > current_level %}
    {% for i in (current_level..level) %}
      <ul>
    {% endfor %}
  {% elsif level < current_level %}
    {% for i in (level..current_level) reversed %}
      </ul>
    {% endfor %}
  {% endif %}
  
  <li><a href="#{{ title | slugify }}">{{ title }}</a></li>
  
  {% assign current_level = level %}
{% endfor %}

{% for i in (current_level..4) reversed %}
  </ul>
{% endfor %}

